TendaGo.Web/Service References/TipoUnidadService/TipoUnidadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TipoUnidadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51670/TipoUnidadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51670/TipoUnidadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51670/TipoUnidadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITipoUnidadService_ConsultarFiltrosBusqueda_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarFiltrosBusqueda" />
  </wsdl:message>
  <wsdl:message name="ITipoUnidadService_ConsultarFiltrosBusqueda_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarFiltrosBusquedaResponse" />
  </wsdl:message>
  <wsdl:message name="ITipoUnidadService_ConsultarTiposUnidadPorFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTiposUnidadPorFiltro" />
  </wsdl:message>
  <wsdl:message name="ITipoUnidadService_ConsultarTiposUnidadPorFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTiposUnidadPorFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="ITipoUnidadService_ConsultarTipoUnidadPorProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTipoUnidadPorProducto" />
  </wsdl:message>
  <wsdl:message name="ITipoUnidadService_ConsultarTipoUnidadPorProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTipoUnidadPorProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="ITipoUnidadService">
    <wsdl:operation name="ConsultarFiltrosBusqueda">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoUnidadService/ConsultarFiltrosBusqueda" message="tns:ITipoUnidadService_ConsultarFiltrosBusqueda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoUnidadService/ConsultarFiltrosBusquedaResponse" message="tns:ITipoUnidadService_ConsultarFiltrosBusqueda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTiposUnidadPorFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoUnidadService/ConsultarTiposUnidadPorFiltro" message="tns:ITipoUnidadService_ConsultarTiposUnidadPorFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoUnidadService/ConsultarTiposUnidadPorFiltroResponse" message="tns:ITipoUnidadService_ConsultarTiposUnidadPorFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTipoUnidadPorProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoUnidadService/ConsultarTipoUnidadPorProducto" message="tns:ITipoUnidadService_ConsultarTipoUnidadPorProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoUnidadService/ConsultarTipoUnidadPorProductoResponse" message="tns:ITipoUnidadService_ConsultarTipoUnidadPorProducto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITipoUnidadService" type="tns:ITipoUnidadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarFiltrosBusqueda">
      <soap:operation soapAction="http://tempuri.org/ITipoUnidadService/ConsultarFiltrosBusqueda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTiposUnidadPorFiltro">
      <soap:operation soapAction="http://tempuri.org/ITipoUnidadService/ConsultarTiposUnidadPorFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTipoUnidadPorProducto">
      <soap:operation soapAction="http://tempuri.org/ITipoUnidadService/ConsultarTipoUnidadPorProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TipoUnidadService">
    <wsdl:port name="BasicHttpBinding_ITipoUnidadService" binding="tns:BasicHttpBinding_ITipoUnidadService">
      <soap:address location="http://localhost:51670/TipoUnidadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>