TendaGo.Web/Service References/TipoUnidadService/TipoUnidadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51670/TipoUnidadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" />
  <xs:element name="ConsultarFiltrosBusqueda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFiltrosBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" minOccurs="0" name="ConsultarFiltrosBusquedaResult" nillable="true" type="q1:ArrayOfFiltroBusquedaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTiposUnidadPorFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtroBusqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="textoBusqueda" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" minOccurs="0" name="estadoBusqueda" type="q2:EstadoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTiposUnidadPorFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" minOccurs="0" name="ConsultarTiposUnidadPorFiltroResult" nillable="true" type="q3:ArrayOfTipoUnidadDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTipoUnidadPorProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTipoUnidadPorProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" minOccurs="0" name="ConsultarTipoUnidadPorProductoResult" nillable="true" type="q4:ArrayOfTipoUnidadDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>