TendaGo.Web/Service References/UnidadMedidaService/UnidadMedidaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51670/UnidadMedidaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" />
  <xs:element name="ConsultarFiltrosBusqueda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFiltrosBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" minOccurs="0" name="ConsultarFiltrosBusquedaResult" nillable="true" type="q1:ArrayOfFiltroBusquedaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUnidadesMedidaPorFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtroBusqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="textoBusqueda" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" minOccurs="0" name="estadoBusqueda" type="q2:EstadoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUnidadesMedidaPorFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" minOccurs="0" name="ConsultarUnidadesMedidaPorFiltroResult" nillable="true" type="q3:ArrayOfUnidadMedidaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>