TendaGo.Web/Service References/PrecioService/PrecioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrecioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51670/PrecioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51670/PrecioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51670/PrecioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrecioService_ConsultarPreciosPorTipoUnidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPreciosPorTipoUnidad" />
  </wsdl:message>
  <wsdl:message name="IPrecioService_ConsultarPreciosPorTipoUnidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPreciosPorTipoUnidadResponse" />
  </wsdl:message>
  <wsdl:message name="IPrecioService_ConsultarPreciosPorProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPreciosPorProducto" />
  </wsdl:message>
  <wsdl:message name="IPrecioService_ConsultarPreciosPorProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPreciosPorProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrecioService_GuardarPrecio_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarPrecio" />
  </wsdl:message>
  <wsdl:message name="IPrecioService_GuardarPrecio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarPrecioResponse" />
  </wsdl:message>
  <wsdl:message name="IPrecioService_EliminarPrecio_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPrecio" />
  </wsdl:message>
  <wsdl:message name="IPrecioService_EliminarPrecio_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPrecioResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrecioService">
    <wsdl:operation name="ConsultarPreciosPorTipoUnidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrecioService/ConsultarPreciosPorTipoUnidad" message="tns:IPrecioService_ConsultarPreciosPorTipoUnidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrecioService/ConsultarPreciosPorTipoUnidadResponse" message="tns:IPrecioService_ConsultarPreciosPorTipoUnidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPreciosPorProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrecioService/ConsultarPreciosPorProducto" message="tns:IPrecioService_ConsultarPreciosPorProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrecioService/ConsultarPreciosPorProductoResponse" message="tns:IPrecioService_ConsultarPreciosPorProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarPrecio">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrecioService/GuardarPrecio" message="tns:IPrecioService_GuardarPrecio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrecioService/GuardarPrecioResponse" message="tns:IPrecioService_GuardarPrecio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPrecio">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrecioService/EliminarPrecio" message="tns:IPrecioService_EliminarPrecio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrecioService/EliminarPrecioResponse" message="tns:IPrecioService_EliminarPrecio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrecioService" type="tns:IPrecioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarPreciosPorTipoUnidad">
      <soap:operation soapAction="http://tempuri.org/IPrecioService/ConsultarPreciosPorTipoUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPreciosPorProducto">
      <soap:operation soapAction="http://tempuri.org/IPrecioService/ConsultarPreciosPorProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarPrecio">
      <soap:operation soapAction="http://tempuri.org/IPrecioService/GuardarPrecio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPrecio">
      <soap:operation soapAction="http://tempuri.org/IPrecioService/EliminarPrecio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrecioService">
    <wsdl:port name="BasicHttpBinding_IPrecioService" binding="tns:BasicHttpBinding_IPrecioService">
      <soap:address location="http://localhost:51670/PrecioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>