TendaGo.Web/Service References/PrecioService/PrecioService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51670/PrecioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" />
  <xs:element name="ConsultarPreciosPorTipoUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoUnidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPreciosPorTipoUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" minOccurs="0" name="ConsultarPreciosPorTipoUnidadResult" nillable="true" type="q1:ArrayOfPrecioDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPreciosPorProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPreciosPorProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" minOccurs="0" name="ConsultarPreciosPorProductoResult" nillable="true" type="q2:ArrayOfPrecioDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarPrecio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" minOccurs="0" name="precioDto" nillable="true" type="q3:DatosPrecioDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarPrecioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarPrecioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPrecio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" minOccurs="0" name="precioDto" nillable="true" type="q4:DatosPrecioDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPrecioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>