TendaGo.Web/Service References/PrecioService/PrecioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TendaGo.Core.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPrecioDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrecioDto" nillable="true" type="tns:PrecioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrecioDto" nillable="true" type="tns:ArrayOfPrecioDto" />
  <xs:complexType name="PrecioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstado" type="xs:short" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUnidad" type="xs:int" />
      <xs:element minOccurs="0" name="IncluyeIva" type="xs:boolean" />
      <xs:element minOccurs="0" name="Moneda" type="xs:int" />
      <xs:element minOccurs="0" name="TipoUnidad" nillable="true" type="tns:TipoUnidadDto" />
      <xs:element minOccurs="0" name="ValorPrecio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrecioDto" nillable="true" type="tns:PrecioDto" />
  <xs:complexType name="TipoUnidadDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:short" />
      <xs:element minOccurs="0" name="IdEstado" type="xs:short" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdUnidadMedidad" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadMedida" nillable="true" type="tns:UnidadMedidaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoUnidadDto" nillable="true" type="tns:TipoUnidadDto" />
  <xs:complexType name="UnidadMedidaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstado" type="xs:short" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadMedidaDto" nillable="true" type="tns:UnidadMedidaDto" />
  <xs:complexType name="DatosPrecioDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PrecioDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DatosPrecioDto" nillable="true" type="tns:DatosPrecioDto" />
</xs:schema>